body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #121212;
}

h1,
p {
  text-align: center;
  letter-spacing: 2px;
}

h1 {
  color: white;
}

p {
  color: #4ff8de;
}

.key {
  color: #fcc891;
}

#enter {
  font-size: larger;
  color: white;
}

canvas {
  background-color: #085bb5;
  display: block;
  margin: 0 auto;
}